:root {
  --branding-color: #7c17a1;
  --secondary-color: #f0e2f5;
  --default-font-family: "poppins", san-serif;
  --heading-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 56px;
  line-height: 1.5;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 60px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.content-container {
  padding: 50px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 60px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content {
  margin: 30px;
  text-align: center;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 30px;
}
.higi {
  max-width: 50%;
  border-radius: 10px;
}
.active {
  color: var(--branding-color) !important;
}
.nav-item {
  padding: 0 10px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 42px;
    line-height: 56px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 24px;
  }
  .hero {
    padding: 40px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
